@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

html, body {
  box-sizing: border-box;
  font-family: Verdana, Arial;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

i {
  font-size: 45px;
}

input {
  width: 275px;
  font-size: 16px;
  margin: 10px;
  border: none;
  border-bottom: 3px rgba(0,0,0,0.5) solid;
  background: rgba(255, 0, 0, 0);
  border-radius: 5px;
  line-height: 30px;
}

textarea {
  width: 275px;
  height: 168px;
  font-size: 16px;
  margin: 10px;
  border: none;
  border-bottom: 3px rgba(0,0,0,0.5) solid;
  border-right: 3px rgba(0,0,0,0.5) solid;
  background: rgba(255, 0, 0, 0);
  border-radius: 5px;
}

em {
  color: teal;

  &:hover {

  }
}

/* ---------- login styles ---------- */
.login-page {
  width: 70%;
  max-width: 450px;
  height: auto;
  background: transparent;
  border: 2px rgb(0,128,128) solid;
  border: 2px rgba(0,128,128,0.5) solid;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-page > div {
  width: 100%;
  height: auto;
  position: absolute;
  text-align: center;
  justify-content: center;
}

.login-page h2 {
  margin: 15px auto auto 0;
}

.login {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    width: 300px;
    display: flex;
    flex-direction: column;

    button {
      font-size: 20px;
      margin: 10px;
      background: rgba(100,100,100,0.5);
      border-radius: 5px;
      border: none;
    }
  }

  input {
    font-size: 20px;
    margin: 10px;
    background: none;
    border-radius: 5px;
  }
}

.signup-link {
  position: absolute;
  bottom: 5px;
}

/* ---------- page content styles ---------- */
.page-content {
  width: 80%;
  height: auto;
  margin-bottom: 75px;
  background: transparent;
  position: absolute;
  top: 20%;
  left: 10%;
  right: auto;
  z-index: -1;
}

.user {
  font-size: 25px;
  margin: auto 15px auto 15px;
  display: flex;
  justify-content: space-between;
}

.people-actions {
  display: flex;
}

.add-new {

  span {
    font-size: 15px;
  }
}

.people, .list {
  font-size: 20px;
  margin-bottom: 25px;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

.people div div, .list div div {
  width: 450px;
  height: auto;
  margin: 10px;
  border: 2px rgba(0,128,128,1) solid;
  border-radius: 5px;
  padding: 10px;
  // cursor: pointer;
}

.people div div {
  cursor: pointer;
}

.people-filter, .actions-filter {
  background: rgba(0,0,0,0);
}

/* ---------- modal styles ---------- */
.modal {
  font-size: 20px;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;

  i {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.modal-overlay {
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.5;
}

.modal-content {
  width: auto;
  height: auto;
  border-radius: 5px;
  position: absolute;
  z-index: 200;
  background: #FFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .fa {
    margin-right: 5px;
    font-size: 30px;
  }

  p {
    width: 400px;
    margin: 10px;
  }
}

.modal-content-wrapper {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    font-size: 25px;
    margin: 10px 0 0 0;
  }

  input {
    width: 275px;
    margin: 5px;
  }
}

.modal-form {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  textarea {
    width: 275px;
    height: 150px;
    margin: 5px;
  }

  button {
    width: 150px;
    margin: 5px;
    border: none;
  }
}

/* ---------- contact stuff below ---------- */
.contact {
  height: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 5%;
}

.contact-form {
  width: auto;
  height: auto;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.form-top-left {
  display: flex;
  flex-direction: column;

  input {

  }
}

.form-top-right {

}

.form-bottom {

  button {
    margin: 5px;
    font-size: 16px;
  }
}

/* ---------- back button ---------- */
.back {
  font-size: 30px;
  margin-right: 10px;

  a {
    text-decoration: none;
    color: black;

    &:hover {
      color: teal;
    }
  }
}

.nav-menu {
  cursor: pointer;
}
