<div class="page-content">

  <div class="user">
    <div class="back">
      <i class="fa fa-chevron-left"></i>
    </div>
    <div>
      {{personName}}
    </div>
    <!-- <button class="add-new"> -->
    <div ng-click="modalToggle()">
      <i class="fa fa-plus"></i>
    </div>
  </div>

  <!-- {{listTest}} -->

  <div class="list">
    <div ng-repeat="action in list | orderBy: '-time'">
      <!-- {{list}} -->
      <div class="item list-dir" ng-click="" >Message: {{action.message}} <br />Time sent: {{action.time | date: 'medium'}}</div>
    </div>
  </div>

</div>

<div class="modal" ng-if="showModal">
  <div class="modal-overlay" ng-click="modalToggle()"></div>
  <div class="modal-content">
    <i class="fa fa-times" ng-click="modalToggle()"></i>
    <div class="modal-content-wrapper">
      <!-- <div>modal heading</div> -->
      <!-- <div>modal stuff</div> -->
      <h2>Send new message!</h2>
      <div ng-controller="mailCtrl">
        <form ng-submit="addAction(message); sendMessage(message)" class="modal-form">
        <!-- <form ng-submit="sendMessage(message)" class="modal-form"> -->
          <textarea placeholder="message" ng-model="message" required></textarea>
          <!-- <input type="date" value="new Data()" /> -->
          <button type="submit">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</div>
