<div class="page-content">

  <div class="user">
    <div>
      {{personName}}
    </div>
    <!-- <button class="add-new"> -->
    <div ng-click="modalToggle()">
      <i class="fa fa-plus"></i>
    </div>
  </div>

  <!-- {{listTest}} -->

  <div class="people">
    <div ng-repeat="action in list">
      {{actions}}
      <!-- <div class="item" ng-click="" >{{item.message}} <br />{{item.time}}</div> -->
    </div>
  </div>

</div>

<div ng-controller="mailCtrl">
  <div class="modal" ng-if="showModal">
    <div class="modal-overlay" ng-click="modalToggle()"></div>
    <div class="modal-content">
      <i class="fa fa-times" ng-click="modalToggle()"></i>
      <div class="modal-content-wrapper">
        <!-- <div>modal heading</div> -->
        <!-- <div>modal stuff</div> -->
        <h2>Send new message!</h2>
        <form ng-submit="addAction(message)" class="modal-form">
          <textarea placeholder="message" ng-model="message" required></textarea>
          <!-- <input type="date" value="new Data()" /> -->
          <button type="submit">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</div>
