<div class="login-page">
  <div>
    <h2>Login</h2>
  </div>

  <form class="login" >
    <div class="form-top">
        <input type="text" placeholder="Username" ng-model="user.username" name="username" />
        <input type="password" placeholder="Password" ng-model="user.password" name="password" />
    </div>
    <div class="form-bottom">
        <button type="submit" ng-click="login(user)">Log In</button>
    </div>
  </form>

  <div>Don't have an account, <a ng-click="">sign up here</a></div>
</div>
