<div class="login-page">
  <!-- testing -->
  <!-- <div class="user">
    <div>
      {{personName}}
    </div>
    <div class="add-new">
      <i class="fa fa-plus"></i>
    </div>
  </div> -->
  <!-- -->

  <form class="login" >
    <div class="form-top">
        <input type="text" placeholder="Username" ng-model="user.username" name="username" />
        <input type="password" placeholder="Password" ng-model="user.password" name="password" />
    </div>
    <div class="form-bottom">
        <button type="submit" ng-click="login(user)">Log In</button>
    </div>
  </form>
</div>
