<div class="page-content">

  <div class="user">
    <div>
      {{currentUser.name}}
    </div>
    <div class="add-new" ng-click="modalToggle()">
      <i class="fa fa-plus"></i>
    </div>
  </div>

  <div class="people">
    <div ng-repeat="person in people">
      <div class="aBox" ng-click="findHaunts(this.person)" >{{person.name}} <br /> {{person.phone}} <br /> {{person.email}} <br /> {{person.reason}}</div>
    </div>
  </div>

</div>

<div class="modal" ng-if="showModal">
  <div class="modal-overlay" ng-click="modalToggle()"></div>
  <div class="modal-content">
    <i class="fa fa-times" ng-click="modalToggle()"></i>
    <div class="modal-content-wrapper">
      <!-- <div>modal heading</div> -->
      <!-- <div>modal stuff</div> -->
      <h2>Add new person!<h2>
        <form ng-submit="sendMessage(person)" class="modal-form">
          <input name="name" type="text" placeholder="name" ng-model="person.name" required />
          <input name="phone" type="phone" placeholder="phone number" ng-model="person.phone" />
          <input name="email" type="email" placeholder="email" ng-model="person.email" required />
          <textarea placeholder="reasons to add to troll list" ng-model="person.reason" required></textarea>
          <!-- <input type="date" value="new Data()" /> -->
          <button type="submit">Send Message</button>
        </form>
    </div>
  </div>
</div>
