<div ng-controller="navCtrl">
  <section class="nav-bot-wrapper">
    <div class="nav-bot">

      <div class="nav-bot-left">
        <div ng-click="modalToggle('about')">About</div>
        <div ng-click="modalToggle('contact')">Contact</div>
      </div>

      <div class="nav-bot-right">
        <!-- <i class="fa fa-github-alt"></i>
        <i class="fa fa-linkedin"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-youtube-play"></i> -->

        <icon-dir icon="myGithub" link="gitLink"></icon-dir>
        <icon-dir icon="myLinkedin" link="linkedLink"></icon-dir>
        <icon-dir icon="myTwitter" link="twitterLink"></icon-dir>
        <icon-dir icon="myYoutube" link="youtubeLink"></icon-dir>

      </div>
    </div>
  </section>

  <div class="modal" ng-if="aboutModal">
    <div class="modal-overlay" ng-click="modalToggle('about')"></div>
    <div class="modal-content">
      <i class="fa fa-times" ng-click="modalToggle('about')"></i>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>

  <div class="modal" ng-if="contactModal">
    <div class="modal-overlay" ng-click="modalToggle('contact')"></div>
    <div class="modal-content">
      <i class="fa fa-times" ng-click="modalToggle('contact')"></i>
      <div>
        <div class="contact">
          <form class="contact-form" ng-submit="addPost(contact)">
            <div class="form-top">
              <div class="form-top-left">
                <input name="name" ng-model="contact.name" type="text" placeholder="Your name :" required />
                <input name="email" ng-model="contact.email" type="email" placeholder="Your email :" required />
                <input name="phone" ng-model="contact.phone" type="phone" placeholder="Your phone (optional) :" />
              </div>
              <div class="form-top-right">
                <textarea name="text" ng-model="contact.text" placeholder="Type your message here :" required></textarea>
              </div>
            </div>
            <div class="form-bottom">
              <button type="submit" ng-disabled="contact.name == undefined || contact.email == undefined" class="contact-submit" type="submit">Send Away!!</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
