<section class="nav-bot-wrapper">
  <div class="nav-bot">
    <div class="nav-bot-left">
      <div>About</div>
      <div>Contact</div>
    </div>
    <div class="nav-bot-right">
      <!-- <i class="fa fa-github-alt"></i>
      <i class="fa fa-linkedin"></i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-youtube-play"></i> -->

      <icon-dir icon="myGithub" link="gitLink"></icon-dir>
      <icon-dir icon="myLinkedin" link="linkedLink"></icon-dir>
      <icon-dir icon="myTwitter" link="twitterLink"></icon-dir>
      <icon-dir icon="myYoutube" link="youtubeLink"></icon-dir>

    </div>
  </div>
</section>
