// colors
$color-blue-light: #EDF1FA;
$color-blue-mid: #8898BF;
$color-blue-dark: #5A657F;
$color-text-default: #242933;
$color-text-light: #FFFFFF;
$color-hr-default: #DAE1F2;
$color-hover-default: #EDF1FA;

// fonts
$font-size-sm: 12px;
$font-size-med: 16px;
$font-size-lg: 20px;
