// colors
$color-blue-light: #EDF1FA;
$color-blue-mid: #8898BF;
$color-blue-dark: #5A657F;
$color-white: #FFFFFF;
$color-text-default: #242933;
$color-text-light: #FFFFFF;
$color-hr-default: #DAE1F2;
$color-hover-default: #EDF1FA;
$color-shadow-default: #B9B9B9;

// fonts
$font-size-sm: 12px;
$font-size-med: 14px;
$font-size-lg: 16px;
$font-size-xl: 20px;

@mixin boxShadow() {
	box-shadow: 0 0 6px $color-shadow-default;
}

// flex display
@mixin flex {
	display: flex;
	display: -webkit-flex;
}

@mixin flex-1 {
	flex: 1;
	-ms-flex: 1;
	-webkit-flex: 1;
}

// content wrapper for page
.content-wrapper {
	background: $color-white;
	margin: 70px auto;
	width: 80%;
	height: 75%;
	position: relative;
	display: flex;
	display: -webkit-flex;
	@include boxShadow();
}

.button {
	width: 200px;
	height: 50px;
	border: 1px solid $color-blue-dark;
	border-radius: 5px;
	background: $color-blue-dark;
	font-size: $font-size-med;
	color: $color-text-light;

	&.button-secondary {
		background: $color-white;
		color: $color-text-default;
		border: none;
		@include boxShadow();
	}
}

.label {
	font-size: $font-size-med;
}

.input {
	width: 500px;
	height: 50px;
	font-size: $font-size-med;
	border-radius: 5px;
	border: none;
	@include boxShadow();
}

// margins and padding
$sizes: 5, 10, 15, 20, 30;
.margin-all {
	& {
		@each $size in $sizes {
			&--#{$size} {
				margin: $size;
			}
		}
	}
}
.margin {
	& {
		$directions: top, right, bottom, left;
		@each $direction in $directions {
			&-#{$direction} {
				@each $size in $sizes {
					&--#{$size} {
						margin-#{$direction}: #{$size}px;
					}
				}
			}
		}
	}
}

.padding-all {
	& {
		@each $size in $sizes {
			&--#{$size} {
				padding: $size;
			}
		}
	}
}
.padding {
	& {
		$directions: top, right, bottom, left;
		@each $direction in $directions {
			&-#{$direction} {
				@each $size in $sizes {
					&--#{$size} {
						padding-#{$direction}: #{$size}px;
					}
				}
			}
		}
	}
}

// text aligns
.text {
	& {
		$directions: center, left, right;
		@each $direction in $directions {
			&-#{$direction} {
				text-align: #{$direction};
			}
		}
	}
}
