/* ---------- nav top styles ---------- */
.nav-top-wrapper {
  width: 100%;
  height: 60px;
  font-size: 30px;
  color: #111111;
  background: rgb(0, 128, 128);
  background: rgba(0, 128, 128, 0.7);
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
}

#menuNav {
  background: white;
  position: absolute;
  right: 0;
  padding-right: 30px;
  z-index: 9;
}

#menuNav ul, #menuNav li {
  list-style: none;
  margin: 5px;
}

/*.nav-top-wrapper i {

}*/

/*.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}*/

/*.nav-top-left {

}*/

/*.nav-top-mid {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}*/

/*.nav-top-mid h3 {
  /*margin: 0;*/
/*}*/

/*.nav-top-right {
  padding-right: 10px;
}*/

/* ---------- nav bot styles ---------- */
.nav-bot-wrapper {
  width: 100%;
  height: 60px;
  font-size: 30px;
  color: #111111;
  background: rgb(0, 128, 128);
  background: rgba(0, 128, 128, 0.7);
  position: fixed;
  bottom: 0;
}

.nav-bot-wrapper i {
  font-size: 45px;
}

.nav-bot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-bot-left {
  display: flex;
  flex-direction: row;
}

.nav-bot-left > div {
  margin: 10px;
}

.nav-bot-left > div:hover, .nav-bot-right a:hover {
  color: white;
}

.nav-bot-right {
  padding-right: 10px;
}

.nav-bot-right > div {
  margin: 10px;
}

.nav-bot-right a {
  text-decoration: none;
  color: #111111;
}

.nav-bot-right a:hover {

}
