<!-- <nav-top-dir></nav-top-dir> -->
<!-- 
<div class="login-page">
  <div>
    <h2>Login</h2>
  </div>

  <form class="login" >
    <div class="form-top">
        <input type="text" placeholder="Username" ng-model="user.username" name="username" />
        <input type="password" placeholder="Password" ng-model="user.password" name="password" />
    </div>
    <div class="form-bottom">
        <button type="submit" ng-click="login(user)">Log In</button>
    </div>
  </form>

  <div class="signup-link">Don't have an account, <em ng-click="modalToggle()">sign up here</em></div>
</div>


<div class="modal" ng-if="showModal">
  <div class="modal-overlay" ng-click="modalToggle()"></div>
  <div class="modal-content">
    <i class="fa fa-times" ng-click="modalToggle()"></i>
    <div class="modal-content-wrapper">
      <h2>Sign up</h2>
      <form ng-submit="addNewUser(user)" class="modal-form">
        <input name="name" type="text" placeholder="name" ng-model="user.name" required />
        <input name="username" type="text" placeholder="username" ng-model="user.username" required />
        <input name="password" type="password" placeholder="create password" ng-model="user.password" required />
        <input name="password" type="password" placeholder="confirm password" ng-model="user.passwordConfirm" required />
        <input name="email" type="email" placeholder="email" ng-model="user.email" required />
        <button type="submit">Sign up!</button>
      </form>
    </div>
  </div>
</div> -->

<div class="test">
	main login box
</div>
