@import '../global.scss';

/* ---------- login styles ---------- */
.login-form {
	background-color: $color-blue-light;
	width: 600px;
	height: 300px;
	margin: 120px auto;
	@include boxShadow();

	.form {
		@include flex();

		&-item {
			margin: auto;
		}

		// &-button {

		// }
	}
}
