/* ---------- login styles ---------- */

.login-page {
	width: 70%;
	max-width: 450px;
	height: auto;
	background: transparent;
	border: 2px rgb(0, 128, 128) solid;
	border: 2px rgba(0, 128, 128, 0.5) solid;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.login-page>div {
	width: 100%;
	height: auto;
	position: absolute;
	text-align: center;
	justify-content: center;
}

.login-page h2 {
	margin: 15px auto auto 0;
}

.login {
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	div {
		width: 300px;
		display: flex;
		flex-direction: column;
		button {
			font-size: 20px;
			margin: 10px;
			background: rgba(100, 100, 100, 0.5);
			border-radius: 5px;
			border: none;
		}
	}
	input {
		font-size: 20px;
		margin: 10px;
		background: none;
		border-radius: 5px;
	}
}

.signup-link {
	position: absolute;
	bottom: 5px;
}