html, body {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  paddng: 0;
  background: #999999;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* ---------- login styles ---------- */
.login-page {
  width: 70%;
  height: auto;
  border-radius: 10px;
  background: grey;
  position: absolute;
  top: 25%;
  left: 15%;
  right: auto;
}

.login {
  width: 100%;
  height: 300px;
  font-size: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login div {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.login div button {
  font-size: 30px;
  margin: 10px;
  border-radius: 10px;
}

.login input {
  font-size: 40px;
  margin: 10px;
}

/* ---------- page content styles ---------- */
.page-content {
  width: 70%;
  height: auto;
  border-radius: 10px;
  background: grey;
  position: absolute;
  top: 25%;
  left: 15%;
  right: auto;
}

.user {

}

.people {

}
