html, body {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  paddng: 0;
  /*background: #999999;*/
  background: #eeeeee;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

/*.page-offset {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
}*/

i {
  font-size: 45px;
}

/* ---------- login styles ---------- */
.login-page {
  width: 70%;
  height: auto;
  border-radius: 5px;
  background: grey;
  position: absolute;
  top: 25%;
  left: 15%;
  right: auto;
}

.login {
  width: 100%;
  height: 300px;
  /*font-size: 20px;*/
  /*border-radius: 5px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login div {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.login div button {
  font-size: 20px;
  margin: 10px;
  border-radius: 5px;
}

.login input {
  font-size: 20px;
  margin: 10px;
  border-radius: 5px;
}

/* ---------- page content styles ---------- */
.page-content {
  width: 70%;
  height: auto;
  margin-bottom: 75px;
  border-radius: 10px;
  background: grey;
  position: absolute;
  top: 25%;
  left: 15%;
  right: auto;
  z-index: -1;
}

.user {
  font-size: 40px;
  margin: auto 15px auto 15px;
  display: flex;
  justify-content: space-between;
}

/*.user button {
  width: 50px;
  font-size: 30px;
  background: grey;
}*/

.add-new {

}

.people {
  font-size: 30px;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

.people div div {
  width: auto;
  height: auto;
  margin: 10px;
  border: 5px black solid;
  padding: 10px;
}
