@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html,
body {
  box-sizing: border-box;
  font-family: Verdana, Arial; }

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0; }

.main-wrapper {
  width: 100%;
  height: 100%; }
  .main-wrapper-content {
    height: 100%; }

i {
  font-size: 45px; }

textarea {
  width: 275px;
  height: 168px;
  font-size: 16px;
  margin: 10px;
  border: none;
  border-bottom: 3px rgba(0, 0, 0, 0.5) solid;
  border-right: 3px rgba(0, 0, 0, 0.5) solid;
  background: rgba(255, 0, 0, 0);
  border-radius: 5px; }

em {
  color: teal; }

/* ---------- page content styles ---------- */
.page-content {
  width: 80%;
  height: auto;
  margin-bottom: 75px;
  background: transparent;
  position: absolute;
  top: 20%;
  left: 10%;
  right: auto;
  z-index: -1; }

.user {
  font-size: 25px;
  margin: auto 15px auto 15px;
  display: flex;
  justify-content: space-between; }

.people-actions {
  display: flex; }

.add-new span {
  font-size: 15px; }

.people,
.list {
  font-size: 20px;
  margin-bottom: 25px;
  display: flex;
  flex-flow: wrap row;
  justify-content: center; }

.people div div,
.list div div {
  width: 450px;
  height: auto;
  margin: 10px;
  border: 2px teal solid;
  border-radius: 5px;
  padding: 10px; }

.people div div {
  cursor: pointer; }

.people-filter,
.actions-filter {
  background: transparent; }

/* ---------- modal styles ---------- */
.modal {
  font-size: 20px;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0; }
  .modal i {
    position: absolute;
    top: 0;
    right: 0; }

.modal-overlay {
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.5; }

.modal-content {
  width: auto;
  height: auto;
  border-radius: 5px;
  position: absolute;
  z-index: 200;
  background: #FFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .modal-content .fa {
    margin-right: 5px;
    font-size: 30px; }
  .modal-content p {
    width: 400px;
    margin: 10px; }

.modal-content-wrapper {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .modal-content-wrapper h2 {
    font-size: 25px;
    margin: 10px 0 0 0; }
  .modal-content-wrapper input {
    width: 275px;
    margin: 5px; }

.modal-form {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .modal-form textarea {
    width: 275px;
    height: 150px;
    margin: 5px; }
  .modal-form button {
    width: 150px;
    margin: 5px;
    border: none; }

/* ---------- contact stuff below ---------- */
.contact {
  height: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 5%; }

.contact-form {
  width: auto;
  height: auto;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.form-top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around; }

.form-top-left {
  display: flex;
  flex-direction: column; }

.form-bottom button {
  margin: 5px;
  font-size: 16px; }

/* ---------- back button ---------- */
.back {
  font-size: 30px;
  margin-right: 10px; }
  .back a {
    text-decoration: none;
    color: black; }
    .back a:hover {
      color: teal; }

.content-wrapper {
  background: #FFFFFF;
  margin: 70px auto;
  width: 80%;
  height: 75%;
  position: relative;
  display: flex;
  display: -webkit-flex;
  box-shadow: 0 0 6px #B9B9B9; }

.button {
  width: 200px;
  height: 50px;
  border: 1px solid #5A657F;
  border-radius: 5px;
  background: #5A657F;
  font-size: 16px;
  color: #FFFFFF; }
  .button.button-secondary {
    background: #FFFFFF;
    color: #242933;
    border: none;
    box-shadow: 0 0 6px #B9B9B9; }

.label {
  font-size: 16px; }

.input {
  width: 500px;
  height: 50px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 6px #B9B9B9; }

.content-wrapper {
  background: #FFFFFF;
  margin: 70px auto;
  width: 80%;
  height: 75%;
  position: relative;
  display: flex;
  display: -webkit-flex;
  box-shadow: 0 0 6px #B9B9B9; }

.button {
  width: 200px;
  height: 50px;
  border: 1px solid #5A657F;
  border-radius: 5px;
  background: #5A657F;
  font-size: 16px;
  color: #FFFFFF; }
  .button.button-secondary {
    background: #FFFFFF;
    color: #242933;
    border: none;
    box-shadow: 0 0 6px #B9B9B9; }

.label {
  font-size: 16px; }

.input {
  width: 500px;
  height: 50px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 6px #B9B9B9; }

.footer {
  width: 100%;
  height: 50px;
  background-color: #5A657F;
  position: fixed;
  bottom: 0; }

.content-wrapper {
  background: #FFFFFF;
  margin: 70px auto;
  width: 80%;
  height: 75%;
  position: relative;
  display: flex;
  display: -webkit-flex;
  box-shadow: 0 0 6px #B9B9B9; }

.button {
  width: 200px;
  height: 50px;
  border: 1px solid #5A657F;
  border-radius: 5px;
  background: #5A657F;
  font-size: 16px;
  color: #FFFFFF; }
  .button.button-secondary {
    background: #FFFFFF;
    color: #242933;
    border: none;
    box-shadow: 0 0 6px #B9B9B9; }

.label {
  font-size: 16px; }

.input {
  width: 500px;
  height: 50px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 6px #B9B9B9; }

/* ---------- nav top styles ---------- */
.header {
  height: 60px;
  color: #242933;
  background-color: #8898BF;
  position: relative;
  display: flex;
  align-items: center; }
  .header-title {
    margin: auto; }
    .header-title .h1 {
      margin: 0;
      font-size: 20px;
      font-weight: normal; }

.content-wrapper {
  background: #FFFFFF;
  margin: 70px auto;
  width: 80%;
  height: 75%;
  position: relative;
  display: flex;
  display: -webkit-flex;
  box-shadow: 0 0 6px #B9B9B9; }

.button {
  width: 200px;
  height: 50px;
  border: 1px solid #5A657F;
  border-radius: 5px;
  background: #5A657F;
  font-size: 16px;
  color: #FFFFFF; }
  .button.button-secondary {
    background: #FFFFFF;
    color: #242933;
    border: none;
    box-shadow: 0 0 6px #B9B9B9; }

.label {
  font-size: 16px; }

.input {
  width: 500px;
  height: 50px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 6px #B9B9B9; }

/* ---------- login styles ---------- */
.login-form {
  background-color: #EDF1FA;
  width: 600px;
  height: 300px;
  margin: 120px auto;
  box-shadow: 0 0 6px #B9B9B9; }
  .login-form form-item {
    display: grid;
    display: -ms-grid;
    margin-top: 30px;
    position: relative; }
    .login-form form-item-wrap {
      display: grid;
      display: -ms-grid;
      margin: auto; }

@media only screen and (min-device-width: 300px) and (max-device-width: 450px) {
  /* ----------  ---------- */
  i {
    font-size: 45px; }
  /* ---------- login styles ---------- */
  .login-page h2 {
    font-size: 40px; }
  .login {
    font-size: 40px;
    margin-top: 50px; }
  .login div button {
    font-size: 30px;
    margin: 10px; }
  /* ---------- page content styles ---------- */
  .user {
    font-size: 40px; }
  .people {
    font-size: 30px;
    display: flex;
    flex-flow: wrap row;
    justify-content: center; }
  .people div div {
    width: auto;
    height: auto;
    margin: 10px;
    border: 5px black solid;
    padding: 10px; }
  /* ---------- nav top styles ---------- */
  .nav-top-wrapper {
    width: 100%;
    height: 120px;
    font-size: 65px;
    color: #111111;
    background: linear-gradient(#005151, rgba(255, 0, 0, 0));
    position: fixed;
    top: 0; }
  .nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .nav-top-mid {
    display: flex;
    justify-content: center; }
  .nav-top-mid h3 {
    margin-top: 125px; }
  .nav-top-right {
    padding-right: 10px; }
  /* ---------- nav bot styles ---------- */
  .nav-bot-wrapper {
    width: 100%;
    height: auto;
    font-size: 60px;
    color: #111111;
    background: linear-gradient(rgba(255, 0, 0, 0), #005151);
    position: fixed;
    bottom: 0; }
  .nav-bot-wrapper i {
    font-size: 100px; }
  .nav-bot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .nav-bot-left {
    display: flex;
    flex-direction: row; }
  .nav-bot-left > div {
    margin: 10px; }
  .nav-bot-right {
    padding-right: 10px; }
  .nav-bot-right > div {
    margin: 10px; }
  .nav-bot-right a {
    text-decoration: none;
    color: #111111; } }

/* ---------- modal styles ---------- */
/* ---------- contact stuff below ---------- */
