@media only screen
and (min-device-width: 300px)
and (max-device-width: 450px) {
  /* ----------  ---------- */
  i {
    font-size: 45px;
  }

  /* ---------- login styles ---------- */
  .login-page {

  }

  .login-page > div {

  }

  .login-page h2 {
    font-size: 40px;
  }

  .login {
    font-size: 40px;
    margin-top: 50px;
  }

  .login div {

  }

  .login div button {
    font-size: 30px;
    margin: 10px;
  }

  .login input {
    font-size: 40px;
    margin: 10px;
  }

  /* ---------- page content styles ---------- */
  .page-content {

  }

  .user {
    font-size: 40px;
  }

  .add-new {

  }

  .people {
    font-size: 30px;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
  }

  .people div div {
    width: auto;
    height: auto;
    margin: 10px;
    border: 5px black solid;
    padding: 10px;
  }

  /* ---------- nav top styles ---------- */
  .nav-top-wrapper {
    width: 100%;
    height: 120px;
    font-size: 65px;
    color: #111111;
    background: linear-gradient(#005151, rgba(255,0,0,0));
    position: fixed;
    top: 0;
  }

  .nav-top-wrapper i {

  }

  .nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-top-left {

  }

  .nav-top-mid {
    display: flex;
    justify-content: center;
  }

  .nav-top-mid h3 {
    margin-top: 125px;
  }

  .nav-top-right {
    padding-right: 10px;
  }

  /* ---------- nav bot styles ---------- */
  .nav-bot-wrapper {
    width: 100%;
    height: auto;
    font-size: 60px;
    color: #111111;
    background: linear-gradient(rgba(255, 0, 0, 0), #005151);
    position: fixed;
    bottom: 0;
  }

  .nav-bot-wrapper i {
    font-size: 100px;
  }

  .nav-bot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-bot-left {
    display: flex;
    flex-direction: row;
  }

  .nav-bot-left > div {
    margin: 10px;
  }

  .nav-bot-right {
    padding-right: 10px;
  }

  .nav-bot-right > div {
    margin: 10px;
  }

  .nav-bot-right a {
    text-decoration: none;
    color: #111111;
  }

}

/* ---------- modal styles ---------- */
.modal {

}

.modal i {

}

.modal-overlay {

}

.modal-content {

}

.modal-content .fa {

}

.modal-content p {

}

.modal-content-wrapper {

}

.modal-content-wrapper h2 {

}

.modal-form {

}

.modal-form textarea {

}

.modal-form button {

}

/* ---------- contact stuff below ---------- */
.contact {

}

.contact-form {

}

.form-top {

}

.form-top-left {

}

.form-top-left input {

}

.form-top-right {

}

.form-top-right textarea {

}

.form-bottom {

}

.form-bottom button {

}
